/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body{
  display: flex; 
  flex-direction: column;
  width: 80%;
}

#grid{
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid cyan;
}

.row {
  display: flex;
  border: 1px solid red;
  flex-basis: 100%;
  height: 100%;
}

.column {
  display: flex;
  border: 1px solid limegreen;
  border-right: 1px solid limegreen;
  flex-basis: 100%;
}

.gridBlack{

}

.gridColor{
  
}